.control-label {
    text-align: inherit !important;
}

.mytable {
    border-collapse: inherit;
}

.mytable > thead > tr > th {
    border-bottom: none;
}

.mytable > tbody > tr > td, .mytable > tbody > tr > th, .mytable > tfoot > tr > td, .mytable > tfoot > tr > th, .mytable > thead > tr > td, .mytable > thead > tr > th {
    border-top: none !important;
    padding: 5px !important;
}

.printTable {
    margin-bottom: -2px !important;
    border-collapse: collapse;
}

.printTable > thead > tr > th {
    padding: 0px;
}

.printTable > tbody > tr > td {
    padding: 2px;
}
.purchaseTable > tbody > tr > td {
    padding: 4px !important;
}